@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import 'variables.scss';
@import 'mixins.scss';

html {
    font-size: 16px;
}

body {
    background-color: $background-color;
    font-family: $main-font;
}

.wrapper {
    display: flex;

    .side-nav {
        width: 110px;
        border-right: 2px solid $lighter-gray;
        .logo {
            margin-bottom: 5em;
            padding: 2em 0;

            img {
                height: 4em;
                margin: 0
            };
        }

        .menu {
            ul {
                li {
                    margin-bottom: 3.6em;
                    a {
                        display: block;
                        position: relative;
                        img {
                            height: 1.7em;
                            margin: 0 auto;
                            filter: grayscale(1);
                        }

                        .stroke {
                            height: 1.7em;
                            width: 3px;
                            border-radius: 6px;
                            background-color: $dark-blue;
                            position: absolute;
                            right: 0;
                            top: 0;
                            overflow: hidden;

                            .half {
                                display: block;
                                height: 50%;
                                width: inherit;
                                background-color: $normal-green;
                                position: absolute;
                                bottom: 0;
                            }
                        }

                        &:hover {
                            img {
                                filter: grayscale(0);
                            }
                        }

                        &.active{
                            a{
                                img {
                                    filter: grayscale(0);
                                }
                            }
                        }

                    }
                }
            }
        }
    }

    .content {
        width: 100%;
        .main {
            padding: 2.5em 3em 0 3em;
            border-right: 2px solid $lighter-gray;

            header {
                .title {
                    @include setFont($main-font, 2.55em, 600);
                    text-transform: capitalize;
                    color: $secondary-text;
                    line-height: 1.2em;
                }

                span {
                    @include setFont($main-font, 1.2em, 400);
                    color: $primary-text;
                    display: block;
                    margin-top: 0.4em;
                }
            }

            .search-bar {
                .grp {
                    position: relative;

                    img {
                        height: 1.35px;
                        display: inline-block;
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    input{
                        display: block;
                        padding: 14px 50px 14px 54px;
                        border-radius: 10px;
                    }
                }



                }
            }
        }
    }
